body {
    text-align: center;
    background-image: url('https://cdn.mos.cms.futurecdn.net/iuWB2NM48R2r9q7QhyJfhe-650-80.jpg.webp');
    color: white;
    font-family: sans-serif;
}

div {
    width: 80%;
    background-color: rgb(31,31,31);
    margin: 20px auto;
    padding: 20px 10px;
    box-shadow: 2px 2px 5px white;
}

img {
    border: 2px solid white;
}